.layout-container-wrapper {
    display: flex;
}

.logo-wrapper {
    flex-basis: 100px;
    position: fixed;
    left: 0;
}


.layout-container {
    display: flex;
    flex: 1;
    max-width: 1600px;
    background-color: #fff;
    padding-top: 15vh;
    margin-left: 270px;
    padding-right: 100px;
    height: 100vh;
}

.logo-wrapper {
    width: 10vw;
}
.navigation-sidebar {
    /* padding-right: 40px; */
    /* border-right: 1px solid #e6e6e6; */
    /* min-width: 24vw; */
    flex-basis: 200px;
}
.navigation-list {
    list-style-type: none;
    padding: 0;
}

.navigation-list a {
    text-decoration: none;
    font-size: 14px;
    color: #232323;
    display: flex;
    justify-content: space-between;
    letter-spacing: 0.12em;
}
.navigation-list a.active {
    font-weight: 600;
}
/* Content area styling */
.page-content-container {
    padding-left: 40px;
    flex: 1;
    height: 85vh;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #fff;
    scrollbar-width: none;
}

.shipping-costs-section {
    margin-bottom: 40px;
    text-transform: uppercase;
}

.delivery-info-section {
    margin-bottom: 40px;
    margin-top: 60px;
}

.additional-shipping-info-section {
    margin-bottom: 40px;
    margin-top: 60px;
}

.content-container h2 {
    font-size: 16px;
    border-bottom: 1px solid #808080;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #808080;

}

.content-container p {
    font-size: 14px;
    line-height: 1.6;
    color: #333;
    margin-bottom: 10px;
    color: #808080;

}

.page-footer-social {
    position: fixed;
    bottom: 10px;
    right: 20px;
    display: flex;
    gap: 10px;
}

/* @media screen and (max-width: 1600px) {
    .layout-container {
        padding-right: 30px;
    }
} */

/* ************* CONTACT ************** */

.contact-title {
    font-size: 1.3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-row {
    display: flex;
    gap: 10px;
}

.contact-input,
.contact-select,
.contact-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.contact-input {
    flex: 1;
}

.contact-select {
    flex: 1;
}

.contact-textarea {
    height: 150px;
    resize: none;
}

.contact-submit {
    width: 80px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.contact-submit:hover {
    background-color: darkred;
}

/* ************* NEWSLETTER ************** */


.newsletter-title {
    font-size: 1.3rem;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-form p {
    color: #232323;
    font-size: 1.3rem;
    margin-block: 0;
    padding-block: 0;
    margin-top: 20px;
}

.newsletter-row {
    display: flex;
    gap: 10px;
}

.newsletter-input,
.newsletter-select,
.newsletter-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.newsletter-input {
    flex: 1;
}

.newsletter-select {
    flex: 1;
}

.newsletter-textarea {
    height: 150px;
    resize: none;
}

.newsletter-submit {
    width: 80px;
    margin-top: 20px;
    padding: 10px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}

.newsletter-submit:hover {
    background-color: darkred;
}